/**
 * @name Nicedark
 * @author EnderFoxBG
 * @description Make the Dark mode even Better!
 * @version 1.0.0
 */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(https://davart154.github.io/Themes/Icon%20Revert%202023/2023%20Icon%20Revert.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root {
    --background-primary: #111111;
    --background-secondary: #1b1b1b;
    --background-tertiary: #111111;
    --text-normal: #FFFFFF;
    --font-primary: 'Rubik', sans-serif;
    --settingswidth: 	960;			
	--settingsheight: 	80;
	--settingsbackground: 	transparent;
}

body,
html {
      --background-primary: #111111;
    --background-secondary: #1b1b1b;
    --background-tertiary: #161616;
    --text-normal: #FFFFFF;
    --font-primary: 'Rubik', sans-serif;
}

.theme-dark {
    --background-modifier-hover: #262e33;
  --background-modifier-active: #495a63;
  --background-modifier-selected: #262e33;
  --background-modifier-accent: transparent;
  --background-message-hover: transparent;

   --text-normal: #FFFFFF;
  --text-positive: var(--text-normal);
  --text-muted: #6d8692;

   --settings-icon-color: #8eacbc;
  --control-brand-foreground: var(--accent-color);
  --info-warning-foreground: #830202;
  --tab-selected: #354249;
  --switch: #3d4c53;
  --activity-card-background: var(--background-1);
  --brand-experiment: #00884f !important;

    --button-background: #2a3439;
  --button-background-hover: #354249;
  --button-background-active: #4d5f68;
  --button-accent: var(--accent-color);
  --button-accent-hover: #d2f3ff;
  --button-accent-active: #8dd4f8;
  --button-destructive: #fb7c7c;
  --button-destructive-hover: #ff929b;
  --button-destructive-active: #fa4a4a;

    --text-link: #00a6ff;
  --interactive-selected: var(--background-primary);
  --interactive-active: var(--text-normal);
  --interactive-normal: var(--text-normal);
  --interactive-muted: var(--button-background-active);
  --channels-default: var(--text-muted);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
}
