/**
 * @name Nicedark
 * @author EnderFoxBG
 * @description Make the Dark mode even Better!
 * @version 1.0.0
 * @source https://github.com/EnderFox40/Discord-addons/tree/main/Themes/Nicedark
 */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(https://davart154.github.io/Themes/Icon%20Revert%202023/2023%20Icon%20Revert.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css);

:root {
    --background-primary: #111111;
    --background-secondary: #1b1b1b;
    --background-tertiary: #111111;
    --text-normal: #FFFFFF;
    --font-primary: 'Rubik', sans-serif;
    --settingswidth: 	960;			
	--settingsheight: 	80;
	--settingsbackground: 	transparent;
}

body,
html {
      --background-primary: #111111;
    --background-secondary: #1b1b1b;
    --background-tertiary: #161616;
    --text-normal: #FFFFFF;
    --font-primary: 'Rubik', sans-serif;
}

.theme-dark {
    --background-modifier-hover: #262e33;
  --background-modifier-active: #495a63;
  --background-modifier-selected: #262e33;
  --background-modifier-accent: transparent;
  --background-message-hover: transparent;

   --text-normal: #FFFFFF;
  --text-positive: var(--text-normal);
  --text-muted: #6d8692;

   --settings-icon-color: #8eacbc;
  --control-brand-foreground: var(--accent-color);
  --info-warning-foreground: #830202;
  --tab-selected: #354249;
  --switch: #3d4c53;
  --activity-card-background: var(--background-1);
  --brand-experiment: #00884f !important;

    --button-background: #2a3439;
  --button-background-hover: #354249;
  --button-background-active: #4d5f68;
  --button-accent: var(--accent-color);
  --button-accent-hover: #d2f3ff;
  --button-accent-active: #8dd4f8;
  --button-destructive: #fb7c7c;
  --button-destructive-hover: #ff929b;
  --button-destructive-active: #fa4a4a;

    --text-link: #00a6ff;
  --interactive-selected: var(--background-primary);
  --interactive-active: var(--text-normal);
  --interactive-normal: var(--text-normal);
  --interactive-muted: var(--button-background-active);
  --channels-default: var(--text-muted);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
}

[class^=message_] [class^=contents_] [class^=anchor_], [class^=message_] [class^=repliedMessage_] [class^=anchor_], [class^=message_] [class^=modal] [class^=anchor_], [class^=message_] [class^=topic_] [class^=anchor_], [class^=focusLock] [class^=contents_] [class^=anchor_], [class^=focusLock] [class^=repliedMessage_] [class^=anchor_], [class^=focusLock] [class^=modal] [class^=anchor_], [class^=focusLock] [class^=topic_] [class^=anchor_], [class^=title] [class^=contents_] [class^=anchor_], [class^=title] [class^=repliedMessage_] [class^=anchor_], [class^=title] [class^=modal] [class^=anchor_], [class^=title] [class^=topic_] [class^=anchor_] {
  transition: background-color 50ms ease-out, color 50ms ease-out;
  color: var(--mention-foreground);
  background-color: var(--mention-background);
  padding: 1px 2px;
  border-radius: 3px;
  border-bottom: 1px solid var(--brand-700);
}
[class^=message_] [class^=contents_] [class^=anchor_]::before, [class^=message_] [class^=repliedMessage_] [class^=anchor_]::before, [class^=message_] [class^=modal] [class^=anchor_]::before, [class^=message_] [class^=topic_] [class^=anchor_]::before, [class^=focusLock] [class^=contents_] [class^=anchor_]::before, [class^=focusLock] [class^=repliedMessage_] [class^=anchor_]::before, [class^=focusLock] [class^=modal] [class^=anchor_]::before, [class^=focusLock] [class^=topic_] [class^=anchor_]::before, [class^=title] [class^=contents_] [class^=anchor_]::before, [class^=title] [class^=repliedMessage_] [class^=anchor_]::before, [class^=title] [class^=modal] [class^=anchor_]::before, [class^=title] [class^=topic_] [class^=anchor_]::before {
  content: "🔗";
  margin-right: 2px;
  filter: saturate(0%);
  font-size: small;
}
[class^=message_] [class^=contents_] [class^=anchor_]:hover, [class^=message_] [class^=repliedMessage_] [class^=anchor_]:hover, [class^=message_] [class^=modal] [class^=anchor_]:hover, [class^=message_] [class^=topic_] [class^=anchor_]:hover, [class^=focusLock] [class^=contents_] [class^=anchor_]:hover, [class^=focusLock] [class^=repliedMessage_] [class^=anchor_]:hover, [class^=focusLock] [class^=modal] [class^=anchor_]:hover, [class^=focusLock] [class^=topic_] [class^=anchor_]:hover, [class^=title] [class^=contents_] [class^=anchor_]:hover, [class^=title] [class^=repliedMessage_] [class^=anchor_]:hover, [class^=title] [class^=modal] [class^=anchor_]:hover, [class^=title] [class^=topic_] [class^=anchor_]:hover {
  background-color: var(--brand-experiment);
}

.container_b2ce9c {
  transition: 0.3s ease-in-out;
  margin-right: -180px;
}
.container_b2ce9c .membersGroup__85843 {
  transition: 0.3s ease-in-out;
  height: 0px!important;
  margin-top: -25px;
}
.container_b2ce9c:hover .membersGroup__85843 {
  height: unset!important;
  margin-top: unset!important;
}
.container_b2ce9c:hover{
  margin-right: unset!important;
}

.iconContainer__8fa9c, .icon_f50f05 {
  width: 21px;
  height: 21px;
  color: var(--interactive-normal);
  transition: ease-in-out .3s;
}

.searchBar_e0c60b {
  width: 21px;
  height: 24px;
  padding: 0;
  background: none;
  transition: ease-in-out 0.3s!important;
}

.searchBar_e0c60b:hover .iconContainer__8fa9c,
.searchBar_e0c60b:hover .icon_f50f05,
.focused_ddee54 .icon_f50f05,
.focused_ddee54 .iconContainer__8fa9c {
  opacity: 0;
  width: 0;
  height: 0;
}
.searchBar_e0c60b:hover,
.focused_ddee54 .searchBar_e0c60b, .open_d3ab4e .searchBar_e0c60b  {
  width: 175px;
  background: var(--background-tertiary);
  border: 1px solid var(--button-outline-primary-border-hover);
}

.userPopoutOverlayBackground-3A0Pcz {
  max-height: 60vh;
}
